%btn {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
  color: white;
  text-align: center;
  cursor: pointer;

  &:hover{
    transform: scale(.98);
    @include set-background(lighten($grey-color, 30%));
    color: $blue-color

  }
}

//Blue button
.btn-1 {
  @extend %btn;
  @include set-background(lighten($blue-color, 10%));
  color: white;
  
}
//Orange button
.btn-2 {
  @extend %btn;
  @include set-background(lighten($orange-color, 10%));
}

//Edit buttons for Properties
.btn-edit {
  @extend %btn;
  @include set-background(lighten($blue-color, 10%));
  height: 40px;
  align-self: center;
  margin: 20px;
}

//Save & submit button for properties
.btn-save {
  @extend %btn;
  @include set-background(lighten($light-yellow-color, 10%));
  height: 40px;
  align-self: center;
  margin: 20px;
}