.landing {
  height: 100%;
  padding-top: 3vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  z-index: 1;
  background-color: transparent;
  
  &.header {
    background-color: transparent;    
  }
  
  .logo {
    width: 25vw;
    }
    
  .diamond-big {
    width: 25%;
    // height: 25%;
    padding-bottom: 25%;
    background-color: rgba(13, 6, 48, 0.4);
    display: inline-block;
  }
  .diamond-med {
    width: 15%;
    height: 0px;
    padding-bottom: 15%;
    background-color: rgba(228, 87, 46, 0.4);
    display: inline-block;
  }
  .diamond-sm {
    width: 20%;
    padding-bottom: 20%;
    background-color: rgba(255, 211, 51, 0.4);
    display: inline-block;
  }
  .grid {
   position: relative;
    transform: rotate(45deg);
    transform-origin: 100%;
    padding-bottom: 30%;
    top: 190px;
    left: 270px;
    z-index: -1;
  }
  #diamond1 {
    position: absolute;
    top: 26.5%;
    left: 21%;
    cursor: pointer;
  }
  #diamond2 {
    position: absolute;
    top: -46.5%;
    left: 15%;
  }
  #diamond3 {
    position: absolute;

    left: 37.5%;
  }
}