.landing {
  height: 100vh;
  width: 100vw;
  padding-top: 0 auto;
  overflow: hidden;
  align-items: center;
  text-align: center;
  z-index: 1;
  background-color: white;
  
  .header {
    background-color: transparent;    
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 25vw;
    }
    
  .landing-page-adjust{
    margin-left: 5vw;
  }
  .diamond-big {
    width: 25%;
    padding-bottom: 25%;
    background-color: rgba(13, 6, 48, 0.4);
    display: inline-block;
  }
  .diamond-med {
    width: 15%;
    height: 0px;
    padding-bottom: 15%;
    background-color: rgba(228, 87, 46, 0.4);
    display: inline-block;
  }
  .diamond-sm {
    width: 20%;
    padding-bottom: 20%;
    background-color: rgba(255, 211, 51, 0.4);
    display: inline-block;
  }
  .grid {
   position: relative;
    transform: rotate(45deg);
    transform-origin: 100%;
    padding-bottom: 45%;
    top: 400px;
    left: 580px;
    z-index: -1;
  }
  #diamond1 {
    position: absolute;
    top: 47%;
    left: 21%;
  }
  #diamond2 {
    position: absolute;
    top: 0%;
    left: 15%;
  }
  #diamond3 {
    position: absolute;
    top: 20%;
    left: 37.5%;
  }
}