@import './config.scss';

.popup-header {
  h2 {
    font-size: 2rem;
    color: $grey-color;
  }

}

.member-login {
  padding: 5px 0 35px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  input {
    margin: 10px 0;
    width: 200px;
    padding: 5px;
    display: flex;
    flex-direction: row;
  }

  p {
    padding: 0 20px;
  }
  
}

.login-request {
  padding-top: 65px 0 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
  input {
    margin: 10px 0;
    padding: 5px;
    width: 200px;
    display: flex;
    flex-direction: row;
  }

  h2 {
    padding-top: 10px;
    color: $grey-color;
  }

  p {
    padding: 0 25px;
  }
}
