@import './config.scss';
@import './buttons.scss';
@import './utilities.scss';
@import './landing.scss';
@import './nav.scss';
@import './dash_comp';
@import './popup.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

body {
  background-color: #fff;
  font-family: $font-stack;
  line-height: 1.6;

}
h1 {
  font-size: 50px;
  line-height: 1.4;
}
img  {
  width: 100%;
}
a {
  text-decoration: none;
}

.input {
  border: 1px solid $grey-color;
  border-radius: 4px;
  background-color: $light-blue-color;
  color: $blue-color;

  //input for login

  //input for request access

  //input for edit tenant(tenant)

  //input for adding new tenant(manager)
}