@import './config.scss';
@import './buttons.scss';
@import './utilities.scss';
@import './landing.scss';
@import './nav.scss';
@import './popup.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App{
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body {
  background-color: #fff;
  font-family: $font-stack;
  line-height: 1.6;

}
h1 {
  font-size: 50px;
  line-height: 1.4;
}
img  {
  width: 100%;
}
a {
  text-decoration: none;
}

  nav {
  @include set-background($light-blue-color);
  height: 100vh;
  color: $blue-color;
  border-right: 2px solid $blue-color;
  position: sticky;
  top: 0;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  padding: 15px;
  align-content: center;

  a {
    color: $blue-color;
    background-color: set-background($orange-color);
  }
  
  a:hover {
    color: $grey-color;
    background-color: $light-blue-color;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    min-height: 40vh;
    position: relative;
    bottom: 130px;
    
  }

  .btn-1{
    @extend .btn-1
  }
}

.input {
  border: 1px solid $grey-color;
  border-radius: 4px;
  background-color: $light-blue-color;
  color: $blue-color;

  //input for login

  //input for request access

  //input for edit tenant(tenant)

  //input for adding new tenant(manager)
}